.overlay {
    visibility: hidden;
    opacity: 0.1;
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    background: rgba(15, 1, 1, 0.014);
    max-width: 100%;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}
  .popup {
    position: relative;
    margin: 7px auto;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 100vw;
    height: auto;
    transition: all 5s ease-in-out;
    overflow-x: scroll;
    margin-bottom: 5rem;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    cursor: pointer;
    color: #000;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px) {
    .popup {
      width: 70%;
    }
  }